*{
  font-size:16px;
  font-family:sans-serif;
  color:#333;
  margin:0;
}
body{
}
header{
  background:#ccc;
  padding:16px;
  padding-right:64px;
}

header h1{
  font-size:32px;
  line-height:32px;
  margin-bottom:16px;
}

header h2{
  font-size:24px;
  line-height:24px;
  margin-bottom:8px;
}
header a{
  text-decoration:none;
  font-weight:bold;
}
header a:hover{
  color:#666;
}

article{
  padding:16px;
  margin-bottom:48px;

}

article button,
article input{
  padding:15px;
  font-size:24px;
  border: 1px solid #333;
  margin-bottom:16px;
}

article button{
  background-color:#ccc;
  -webkit-transition:background-color 0.5s ease-out;
}

article input{
  outline-color: orange;
  margin-right:14px;
}

article button:hover{
  background-color:#aaa;
}

article p{
  padding:16px;
  background:#ccc;
  font-size:24px;
  min-height:24px;
  line-height:24px;
  margin-bottom:24px;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  background:#ccc;
  width:100%;
  border-top:1px solid #333;
}

footer p{
  margin:8px;
  margin-top:7px;
}

#modal{
  width:480px;
  height:320px;
  margin:-172px -262px;
  position:fixed;
  top:40%;
  left:50%;
  z-index:10;
  display:none;
  background-color:rgba(255,255,255,0.9);
  padding:23px;
  border: 1px solid #333;
}

#modal h2{
  margin-bottom:8px;
}

#modal .close{
  position:absolute;
  top: 5px;
  right: 5px;
  line-height:0;
  font-size:16px;
  padding:10px 0;
  width:20px;
  background:#333;
  color:#fff;
  border-radius:10px;
  text-align: center;
  text-decoration:none;
  font-family:"courier new", monotype;
}
#modal .close:hover{
  background-color:#666;
}
canvas,
#list{
  display:block;
  height:276px;
  width:464px;
  border: 1px solid #333;
  padding:7px;
}
#list{
  overflow-y:scroll;
}
#list li{
  background:white;
  color:#333;
  font-size:8px;
  line-height:8px;
  padding:4px;
}
#list li:nth-child(even){
  background:#ccc;
}